aiohttp
beautifulsoup4
hachoir
numpy
Pillow
pyrogram==1.4.16
requests
tgcrypto
yt-dlp==2023.3.4
olefile
motor
pymongo
dnspython
psutil
loggers
filetype
tldextract
aiofiles
pyromod
lk21
Flask==2.2.2
gunicorn==20.1.0
